body{
    font-family:'Poppins',sans-serif;
}

.banner {
    background-image: url(/portfolio/image/blackbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px;
}
.skills-padding{
    padding: 70px 0;
}